<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}
 
 body {
  background-image: url("{{ url_for('static', filename='ax.jpg')}}");
}

h1 {
   font-size:80px;
  color: green;
   text-align: center;
   color: blue;
}
p1 {
    font-size:15px;
   text-align: center;
   color: green;
    
    
}
p2 {
    font-size:15px;
   text-align: center;
   color: red;
   }
   
h2 {
   font-size:80px;
  color: red;
   text-align: center;
   color: red;
}
h3 {
   font-size:80px;
  color: red;
   text-align: center;
   color: red;
}
</style>
</head>
<body>

<h1>SERVICE</h1>
<center><iframe width="1000" height="500" src="https://www.youtube.com/embed/Qr44vlOdrVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

<p1>In an industry that requires careful management of physical property operations, personnel, and finances, an asset plan provides the necessary direction for successful real estate management. The asset plan is designed following an in-depth analysis of the property and its position in the market. It implements the owner’s objectives in the property’s management, and it is typically developed within 60 to 90 days of a property acquisition. An asset plan may also be developed when a property is transitioned from one asset manager or asset management company to another, or on an annual basis, as a part of the ongoing management of an already-owned property.

For a facility manager, asset plans are most likely part of the ongoing management, but there may be times when you are also asked to contribute to due diligence on new acquisitions, as well. Before recommending any plans for a property, you need to effectively understand what exactly is owned. Thoroughly answering the question “What is owned?” requires extensive research. It is not enough, for example, to state simply that a ten-story office building is owned. Rather, the answer warrants a detailed response that includes specifics about the property and its surrounding market. A complete understanding of a property should evolve from three specific areas:

Legal document inspections
Physical property review
Market analysis
Aspects of each of these can be supported by a facility manager, but none more so than the physical review. Physical inspections, in most cases, take place following the review of legal documents. Standardized checklists are an effective and efficient means to make certain that no areas are overlooked. Many managers find it essential to take along a camera and tape recorder to document areas of interest or concern, as well.

The following are 11 key items a manager should review and evaluate prior to acquisition.

Curb Appeal
Start with the property’s curb appeal. Is the property presented in the most favorable manner possible? Will prospects looking for space find it attractive for their business operation? Is there deferred maintenance? If so, this may include everything from landscaping to roof repair.

Sustainability
Consider making efforts toward reducing the environmental impact of the asset. Such efforts may include alternative energy sources (solar panels or cogeneration, for example), convenience to mass transit, water submetering, stormwater management, and commissioning. In addition to reducing environmental impact, many sustainable measures also increase asset value by reducing operating costs.

Interior Quality
What is the status of cleaning, carpet repair, wall coverings, ceilings, and lighting? The common areas of the property should be properly maintained, especially as this minimizes liability.

Mechanical Records
Is maintenance on the mechanical equipment contracted out or performed in-house? You should inspect the mechanical areas of the property. Are adequate records being kept of preventive maintenance work? For example, is there a significant chance that a chiller overhaul or compressor replacement will be needed? Make similar determinations for all major equipment.

Foundation and Exterior
What is the condition of the building’s foundation and exterior? A careful examination will reveal if there is any cracking or other signs of structural problems. A qualified structural engineer should be hired to perform a detailed review of any of these conditions. A roof survey is essential and helps in budgeting. Make sure to determine whether there is a roof warranty that can be transferred.

Compliance with Disability Legislation
Is the building compliant with relevant disability regulations? Any deficiencies should be addressed, and you should take note of how much work may be necessary to bring the property into compliance.

Property Operations
When an asset management plan is being prepared for a property, there will be a thorough review of current management and leasing personnel. It is important to spend time evaluating the personnel who will be working at the property. Without question, the success of any plan depends on the knowledge and effectiveness of the people implementing it. This is a good time to assess education and training needs for a facilities staff.

Vacant Space
Are all vacant spaces clean and in showable condition? Is additional demolition required to make the space more marketable? Is building out a model suite justifiable? Ask the leasing agent to discuss the current leasing activity on those vacancies, and establish a plan for how the facilities department can support leasing efforts.

Tenant Feedback
What do tenants have to say about the property? Perform tenant interviews. This is an important step that is often overlooked. While inspecting the property, the manager should coordinate an effort to take as much time as necessary to hear tenant comments on the property management and maintenance. You can also learn what their expectations are regarding continued tenancy. Generally, tenants do not hesitate to offer their opinions on how they feel the property is being operated. Most recently, security, commitments to conservation, and green energy have become tenants’ top concerns, particularly in large and/or publicly held companies.

Building Plans
Where are the building plans? A complete set of plans is important, especially if any alterations are anticipated. As-built drawings are plans drawn or modified after construction has been completed, and they are always preferable. In addition to a hard copy, make sure you know where plans drawn with CAD (computer-aided design) software are stored electronically. CAD drawings prepared by an architect should always remain the property of the building owner. A full set of up-to-date plans should be available to both on-site staff and the asset manager. Some architectural firms maintain that they own CAD drawings and in most cases will not release them to other architectural firms.

Aerial Photo Inspection
Aerial photos, particularly when available in a time series over a number of years, can be extremely helpful in identifying attributes of your property, local development trends, adjacent property issues that might affect your property, and other maintenance issues such as roofs, parking surfaces, drainage, and landscaping.

This article is adapted from BOMI International’s co</p1>






<h2> THIS OUR BEST FACILITY </h2>
<center><iframe width="800" height="450" src="https://www.youtube.com/embed/aVjpTZsW6SA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


   
  


<p2>In an industry that requires careful management of physical property operations, personnel, and finances, an asset plan provides the necessary direction for successful real estate management. The asset plan is designed following an in-depth analysis of the property and its position in the market. It implements the owner’s objectives in the property’s management, and it is typically developed within 60 to 90 days of a property acquisition. An asset plan may also be developed when a property is transitioned from one asset manager or asset management company to another, or on an annual basis, as a part of the ongoing management of an already-owned property.

For a facility manager, asset plans are most likely part of the ongoing management, but there may be times when you are also asked to contribute to due diligence on new acquisitions, as well. Before recommending any plans for a property, you need to effectively understand what exactly is owned. Thoroughly answering the question “What is owned?” requires extensive research. It is not enough, for example, to state simply that a ten-story office building is owned. Rather, the answer warrants a detailed response that includes specifics about the property and its surrounding market. A complete understanding of a property should evolve from three specific areas:

Legal document inspections
Physical property review
Market analysis
Aspects of each of these can be supported by a facility manager, but none more so than the physical review. Physical inspections, in most cases, take place following the review of legal documents. Standardized checklists are an effective and efficient means to make certain that no areas are overlooked. Many managers find it essential to take along a camera and tape recorder to document areas of interest or concern, as well.

The following are 11 key items a manager should review and evaluate prior to acquisition.

Curb Appeal
Start with the property’s curb appeal. Is the property presented in the most favorable manner possible? Will prospects looking for space find it attractive for their business operation? Is there deferred maintenance? If so, this may include everything from landscaping to roof repair.

Sustainability
Consider making efforts toward reducing the environmental impact of the asset. Such efforts may include alternative energy sources (solar panels or cogeneration, for example), convenience to mass transit, water submetering, stormwater management, and commissioning. In addition to reducing environmental impact, many sustainable measures also increase asset value by reducing operating costs.

Interior Quality
What is the status of cleaning, carpet repair, wall coverings, ceilings, and lighting? The common areas of the property should be properly maintained, especially as this minimizes liability.

Mechanical Records
Is maintenance on the mechanical equipment contracted out or performed in-house? You should inspect the mechanical areas of the property. Are adequate records being kept of preventive maintenance work? For example, is there a significant chance that a chiller overhaul or compressor replacement will be needed? Make similar determinations for all major equipment.

Foundation and Exterior
What is the condition of the building’s foundation and exterior? A careful examination will reveal if there is any cracking or other signs of structural problems. A qualified structural engineer should be hired to perform a detailed review of any of these conditions. A roof survey is essential and helps in budgeting. Make sure to determine whether there is a roof warranty that can be transferred.

Compliance with Disability Legislation
Is the building compliant with relevant disability regulations? Any deficiencies should be addressed, and you should take note of how much work may be necessary to bring the property into compliance.

Property Operations
When an asset management plan is being prepared for a property, there will be a thorough review of current management and leasing personnel. It is important to spend time evaluating the personnel who will be working at the property. Without question, the success of any plan depends on the knowledge and effectiveness of the people implementing it. This is a good time to assess education and training needs for a facilities staff.

Vacant Space
Are all vacant spaces clean and in showable condition? Is additional demolition required to make the space more marketable? Is building out a model suite justifiable? Ask the leasing agent to discuss the current leasing activity on those vacancies, and establish a plan for how the facilities department can support leasing efforts.

Tenant Feedback
What do tenants have to say about the property? Perform tenant interviews. This is an important step that is often overlooked. While inspecting the property, the manager should coordinate an effort to take as much time as necessary to hear tenant comments on the property management and maintenance. You can also learn what their expectations are regarding continued tenancy. Generally, tenants do not hesitate to offer their opinions on how they feel the property is being operated. Most recently, security, commitments to conservation, and green energy have become tenants’ top concerns, particularly in large and/or publicly held companies.

Building Plans
Where are the building plans? A complete set of plans is important, especially if any alterations are anticipated. As-built drawings are plans drawn or modified after construction has been completed, and they are always preferable. In addition to a hard copy, make sure you know where plans drawn with CAD (computer-aided design) software are stored electronically. CAD drawings prepared by an architect should always remain the property of the building owner. A full set of up-to-date plans should be available to both on-site staff and the asset manager. Some architectural firms maintain that they own CAD drawings and in most cases will not release them to other architectural firms.

Aerial Photo Inspection
Aerial photos, particularly when available in a time series over a number of years, can be extremely helpful in identifying attributes of your property, local development trends, adjacent property issues that might affect your property, and other maintenance issues such as roofs, parking surfaces, drainage, and landscaping.

This article is adapted from BOMI International’s co</p2>
<center><iframe width="800" height="400" src="https://www.youtube.com/embed/JF6Z9jCYFno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
<h3>MY GOAL IS EVERY THING</h3>
</body>
</html>